<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trumen</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="/users/static/css/app.css">
</head>

<body>
    <header>
        <div class="header">
            <a href="#" class="logo">Trumen</a>
            <div class="header-right">
                <p onclick="userModelClicked(this);"><i class="fa fa-user-circle-o" id="usericoncircle"
                        style="font-size:24px"></i></p>
                <!-- <a class="active" href="#home">Home</a>
                <a href="#contact">Contact</a>
                <a href="#about">About</a> -->
            </div>
        </div>
    </header>
    {% block header %}
    {% endblock %}
    <div id="Breadcrumbs" style="display: none;">Breadcrumbs</div>
    <hr>
    {% block content %}
    <div class="container" id="iconbox">
        <ul>
            <li onclick="salesIconClicked(this);">Sales</li>
            <li onclick="elecInvenClicked(this);">Electronic Inventory</li>
            <li onclick="mechInvenClicked(this);">Mechnical Inventory</li>
            <li onclick="POClicked(this);">Purchase Orders</li>
            <li onclick="manuClicked(this);">Manufacture</li>
            <li onclick="storeClicked(this);">Store</li>
            <li onclick="payRollClicked(this);">Payroll</li>
            <li onclick="reportsClicked(this);">Reports</li>
        </ul>
    </div>
    {% endblock %}
    <hr>
    <footer>
        <center> 2019 @ Trumen Infotech Pvt. Ltd. </center>
    </footer>
    {% block footer %}
    {% endblock %}
</body>

<div id="userinfomodel">
</div>

<script src="/users/static/js/apps.js"></script>

</html>